@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Druk Wide Bold';
		src: url('./assets/fonts/Druk-Wide-Bold.ttf') format('truetype');
	}

	@font-face {
		font-family: 'Product Sans';
		src: url('./assets/fonts/Product-Sans-Regular.ttf') format('truetype');
	}

	@font-face {
		font-family: 'Clash Display';
		src: url('./assets/fonts/ClashDisplay-Medium.otf') format('opentype');
	}

	@font-face {
		font-family: 'Integral CF';
		src: url('./assets/fonts/IntegralCF-Regular.otf') format('opentype');
	}

	html {
		/* font-family: 'Manrope', sans-serif; */
	}

	.blinking {
		animation: blink 1s infinite;
	}

	.try-link {
		@apply flex cursor-pointer gap-x-3 font-text text-[19px];
	}

	@keyframes blink {
		50% {
			opacity: 0;
		}
	}

	.pattern {
		background-color: #111315;
		background-image: linear-gradient(
				to right,
				rgba(27, 29, 31, 1) 1px,
				transparent 1px
			),
			/* vertical lines */
				linear-gradient(to bottom, rgba(27, 29, 31, 1) 1px, transparent 1px); /* horizontal lines */
		/* background-size: calc(100% / 6) calc(100% / 6); size of each box */
		background-size: 100px 100px;
		background-position: calc(100% / 3) calc(100% / 3),
			/* position of vertical lines */ calc(100% / 3) calc(100% / 3); /* position of horizontal lines */
	}

	.gradient-blend {
		background: url('src/assets/images/tems.png');
		background-size: cover;
		background-position: center;
		overflow: hidden;
	}

	.gradient-blend::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: linear-gradient(
			0deg,
			#111315 0%,
			rgba(17, 19, 21, 0.8604) 34.76%,
			rgba(17, 19, 21, 0.397736) 74.56%,
			rgba(17, 19, 21, 0) 98.65%
		);
		z-index: 2;
	}

	.images-container {
		@apply absolute right-0 bottom-0 z-[0] flex items-end justify-start gap-x-8 overflow-hidden;
	}

	.images-container > img {
		@apply h-40 w-40 object-cover;
		animation: carousel 10s infinite;
	}

	@keyframes carousel {
		0% {
			transform: translateX(0);
		}

		20% {
			transform: translateX(-150px);
		}

		40% {
			transform: translateX(-300px);
		}

		60% {
			transform: translateX(-450px);
		}

		80% {
			transform: translateX(-600px);
		}

		100% {
			transform: translateX(-750px);
		}
	}

	.fanbase-section::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 50%;
		bottom: 0;
		background: linear-gradient(
			90deg,
			#111315 0%,
			rgba(17, 19, 21, 0.8604) 34.76%,
			rgba(17, 19, 21, 0.397736) 74.56%,
			rgba(17, 19, 21, 0) 98.65%
		);
		z-index: 2;
	}

	.fanbase-section::after {
		content: '';
		position: absolute;
		top: 0;
		left: 50%;
		right: 0;
		bottom: 0;
		background: linear-gradient(
			90deg,
			#111315 0%,
			rgba(17, 19, 21, 0.8604) 34.76%,
			rgba(17, 19, 21, 0.397736) 74.56%,
			rgba(17, 19, 21, 0) 98.65%
		);
		transform: rotate(180deg);
		z-index: 2;
	}

	.artist-images {
		@apply relative mt-24 flex h-[25vh] w-full justify-between gap-x-16 lg:h-[40vh];
	}

	.artist {
		@apply flex h-[150px] w-[150px] items-center justify-center rounded-full lg:h-[220px] lg:w-[220px];
	}

	.artist:nth-child(odd) {
		align-self: flex-end;
		animation: move-odd 20s infinite;
	}

	.artist:nth-child(even) {
		align-self: flex-end;
		animation: move-even 20s infinite;
	}

	@keyframes move-odd {
		0% {
			/* transform: translateX(-100%); */
			transform: translateY(50%);
		}

		50% {
			/* transform: translateX(100%); */
			transform: translateY(-50%);
		}

		100% {
			/* transform: translateX(-100%); */
			transform: translateY(50%);
		}
	}

	@keyframes move-even {
		0% {
			/* transform: translateX(-100%); */
			transform: translateY(-50%);
		}

		50% {
			/* transform: translateX(100%); */
			transform: translateY(50%);
		}

		100% {
			/* transform: translateX(-100%); */
			transform: translateY(-50%);
		}
	}

	@media screen and (max-width: 768px) {
		.pattern {
			background-size: 100px 100px;
			background-position: calc(100% / 2) calc(100% / 2),
				/* position of vertical lines */ calc(100% / 2) calc(100% / 2); /* position of horizontal lines */
		}
	}
}
